html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.6;
  background-color: $dark-bg-color;
  color: $white;
}

h1, h2 {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

h1 {    
  font-size: 53px;
  line-height: 55px;
  letter-spacing: -.3px;
  background: linear-gradient(-90deg, #FFA1FF 20%, #D905F0 40%, #D905F0 60%, #FFA1FF 80%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: grad-flow 8s linear infinite;
}

h2 {
  margin: 0 auto 50px;    
  background: linear-gradient(-90deg, #29FFF5 20%, #2973FF 40%, #2973FF 60%, #29FFF5 80%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: grad-flow 8s linear infinite;
}

h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  background: -webkit-linear-gradient(180deg, #FFA1FF 0%, #D905F0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}