.video-container {
  position: relative;
  z-index: 3;
  margin-top: -80px;
  padding: 250px 0 100px;
  background-color: #050039;

  @include breakpoint(tablet) {
    padding: 210px 0;
  }

  .video-inner {
    display: flex;
    flex-direction: column;
  }

  h2 {
    width: 90%;
    margin-bottom: 60px;

    @include breakpoint(tablet) {
      width: 60%;
    }
  }

  .video-placeholder {
    display: none;
    align-self: center;
    transition: all 300ms;

    @include breakpoint(tablet) {
      display: inline-block;
    }

    @include breakpoint(desktop) {
      &:hover {
        transform: translateY(-15px) scale(101%);
      }
    }

    &--mobile {
      display: inline-block;
      text-align: center;

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }
}

.discover {
  position: relative;
  z-index: 2;
  padding: 120px 0 80px;
  background-color: #000022;

  @include breakpoint(tablet) {
    padding: 220px 0 150px;
  }

  h2 {
    width: 90%;

    @include breakpoint(tablet) {
      width: 60%;
    }
  }

  .sphere-container {
    position: relative;
    display: inline-block;
  }

  .sphere-3 {
    z-index: 4;
    position: absolute;
    top: -150px;
    left: 230px;
    margin-left: -30px;
    display: none;
    width: 66px;
    height: 66px;
    background-image: url('../images/backgrounds/sphere-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: bounce 7s infinite ease-in-out;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }

  .sphere-4 {
    z-index: 4;
    position: absolute;
    top: -260px;
    right: 0;
    display: none;
    width: 137px;
    height: 137px;
    background-image: url('../images/backgrounds/sphere-4.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: bounce2 7s infinite ease-in-out;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }
}

.checkers {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 180px;
  background-image: url('../images/backgrounds/checkers-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint(tablet) {
    height: 438px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
}

.signup {
  position: relative;
  z-index: 2;
  background-color: #030066;
  text-align: center;

  @include breakpoint(tablet) {
    padding: 140px 0;
  }
}

.signup-box {
  position: relative;
  display: inline-block;
  width: 100%;

  @include breakpoint(tablet) {
    max-width: 720px;
  }

  img {
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 247px;
    left: 50%;
    margin-left: -63px;
    display: none;
    width: 126px;
    height: 126px;
    background-image: url('../images/signup-bolt.png');

    @include breakpoint(tablet) {
      display: inline-block;
      top: 327px;
    }
  }

  &__inner {
    padding: 40px;
    background-color: #030066;
    border-radius: 0 0 12px 12px;

    @include breakpoint(tablet) {
      padding: 60px;
      background-color: #000022;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 42px;
      line-height: 48px;
      letter-spacing: -.3px;
      background: linear-gradient(-90deg, #FFA1FF 20%, #D905F0 40%, #D905F0 60%, #FFA1FF 80%);
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: grad-flow 8s linear infinite;
    }

    p {
      width: 75%;
      margin: auto;

      @include breakpoint(tablet) {
        width: 100%;
      }
    }

    .range {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      padding: 10px 25px;
      background-color: #010042;
      border-radius: 10px;
      align-items: center;
      gap: 10px;
      justify-content: space-between;

      @include breakpoint(tablet) {
        flex-direction: row;
        border-radius: 30px;
        gap: 20px;
        padding: 6px 25px;
      }

      span {
        font-size: 24px;
        font-weight: 500;
        overflow: hidden;
      }

      &__bar {
        position: relative;
        height: 10px;
        flex-grow: 1;
        width: 100%;
        border-radius: 30px;
        background-color: #030066;

        @include breakpoint(tablet) {
          width: auto;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 0;
          height: 10px;
          border-radius: 30px;
          background-image: $light-grad;
        }
      }

      small {
        font-size: 14px;
        color: #4022F3;
      }
    }

    .email-signup {
      display: flex;
      margin-top: 40px;
      justify-content: space-between;
      flex-direction: column;
      gap: 15px;

      @include breakpoint(tablet) {
        flex-direction: row;
        gap: 30px;
      }

      .email-signup-input-cover {
        flex-grow: 1;
        height: 80px;

        input {
          width: 100%;
          background-color: #010042;
          border: 1px solid transparent;
          border-radius: 10px;
          padding: 17px 20px 15px;
          color: #fff;
          transition: all 300ms ease-in-out;

          &:hover {
            border: 1px solid #1c1a7b;
            background-color: #0c0b5a;
          }

          &:focus {
            border: 1px solid #4022F3;
          }

          &:focus-visible {
            outline: 0;
          }

          &::placeholder {
            color: #9684FF;
            font-style: italic;

            &:hover {
              color: #bbafff;
            }
          }
        }
      }

      .btn {
        margin: 0 auto;
        line-height: 38px;
        height: 56px;
      }
    }

    .email-signup-validation {
      display: none;
      justify-content: space-between;
      padding: 5px 20px 15px;

      span {
        color: rgb(244, 67, 54);
        font-size: 12px;
      }

      .icon-error {
        color: rgb(244, 67, 54);
      }
    }
  }
}

.thank-you { margin-top: 60px !important; }
