
.icon-checked:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-smile:before { content: '\e802'; } /* '' */
.icon-camera-fill:before { content: '\e803'; } /* '' */
.icon-remove:before { content: '\e804'; } /* '' */
.icon-heart-filled:before { content: '\e805'; } /* '' */
.icon-error:before { content: '\e806'; } /* '' */
.icon-filter:before { content: '\e807'; } /* '' */
.icon-follower:before { content: '\e808'; } /* '' */
.icon-share:before { content: '\e809'; } /* '' */
.icon-remove-filled:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-screen:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */
.icon-play:before { content: '\e810'; } /* '' */
.icon-arrow-long:before { content: '\e811'; } /* '' */
.icon-plus-filled:before { content: '\e812'; } /* '' */
.icon-lume:before { content: '\e813'; } /* '' */
.icon-more:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-video-comment:before { content: '\e816'; } /* '' */
.icon-play-1:before { content: '\e817'; } /* '' */
.icon-camera-blocked:before { content: '\e818'; } /* '' */
.icon-camera:before { content: '\e819'; } /* '' */
.icon-clip:before { content: '\e81a'; } /* '' */
.icon-telegram:before { content: '\e81c'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-logo:before { content: '\e81e'; } /* '' */
.icon-file:before { content: '\e81f'; } /* '' */
.icon-reply:before { content: '\e820'; } /* '' */
.icon-copy:before { content: '\e821'; } /* '' */
.icon-expand:before { content: '\e822'; } /* '' */
.icon-info-2:before { content: '\e823'; } /* '' */
.icon-pin:before { content: '\e824'; } /* '' */
.icon-flash:before { content: '\e825'; } /* '' */
.icon-refresh:before { content: '\e826'; } /* '' */
.icon-reply-long:before { content: '\e827'; } /* '' */
.icon-heart:before { content: '\e828'; } /* '' */
.icon-notifications:before { content: '\e829'; } /* '' */
.icon-search:before { content: '\e82a'; } /* '' */
.icon-user-block:before { content: '\e82c'; } /* '' */
.icon-arrow:before { content: '\e82d'; } /* '' */
.icon-visibility:before { content: '\e82e'; } /* '' */
.icon-close:before { content: '\e82f'; } /* '' */
