<footer class="site-footer">
    <a href="/" data-aos="fade-up"><img src="./images/logo-footer.svg" alt=""></a>
    <nav class="site-nav site-nav--footer"  data-aos="fade-up">
        <ul>
            <li><a href="javascript:void(0)" class="btn btn-secondary btn-icon">

                    <span class="btn-inner contact-text btn-copy">Contact</span>
                    <span class="btn-inner email-text hidden">hello@lightmapp.com <button data-clipboard-text="hello@lightmapp.com" class="copy-icon">&nbsp;</button></span>
                    <span class="btn-inner copied-text hidden">
                        <span class="copied">
                            <i class="tick-icon">&nbsp;</i>Copied to clipboard!
                        </span>
                        <button class="copy-icon">&nbsp;</button>
                    </span>

            </a></li>
        </ul>
    </nav>
</footer>
